.container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

.left {
  width: 75%;
  padding: 20px;
  background: linear-gradient(135deg, #FFFFFF, #ffefba);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.right {
  width: 25%;
  padding: 1px;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border: 1px solid lightblue;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  border-radius: 10rem;
  z-index: -2;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(135deg, #FFFFFF, #ffefba);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.btn:hover {
  color: #fff;
}

.btn:hover::before {
  width: 100%;
}